- content_for :head do
  %title= t('.page_title')

#grid-wrap
  %h2.well.center= t('.page_title')
  .well.center.col-xs-12
    = render "/layouts/alert"
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: 'change_your_password', class: 'form', role: 'form', method: :put, 'data-parsley-validate' => ''}) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .input-group.col-xs-12
        = f.label :password, t('users.fields.password'), id: "password-label", class: "input-group-addon", for: "password-field"
        = f.password_field :password, autocomplete: "off", id: "password-field", class: "form-control", placeholder: "New password", 'data-parsley-minlength-message' => t('users.errors.password.min_length'), 'data-parsley-required' => '', 'data-parsley-minlength' => "6", 'data-parsley-trigger' => 'change', 'data-parsley-errors-container' => "#password-field-errors"
      #password-field-errors.parsley-errors-container
      %br
      .input-group.col-xs-12
        = f.label :password_confirmation, t('users.fields.password_confirmation'), id: "password-confirmation-label", class: "input-group-addon", for: "password-confirmation-field"
        = f.password_field :password_confirmation, autocomplete: "off", id: "password-confirmation-field", class: "form-control", placeholder: "#{t('users.placeholders.password_confirmation') }", 'data-parsley-equalto' => "#password-field", 'data-parsley-trigger' => 'change', 'data-parsley-errors-container' => "#password-confirmation-field-errors", 'data-parsley-equalto-message' => "#{t('users.errors.password_confirmation.match_password')}"
      #password-confirmation-field-errors.parsley-errors-container
      %br
      = f.submit t('form.submit'), id: "change-password-button", class: "submit-button"
  = render "devise/shared/links"
