- content_for :head do
  %title= t('.page_title')

#grid-wrap
  %h2.well.center= t('.page_title')
  .well.center.col-xs-12
    = render "/layouts/alert"
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: 'forgot_your_password', class: 'form', role: 'form', 'data-parsley-validate' => ''}) do |f|
      = devise_error_messages!
      .input-group.col-xs-12
        = f.label :email, t('users.fields.email'), id: "email-label", class: "input-group-addon", for: "email-field"
        = f.email_field :email, autofocus: true, id: "email-field", class: "form-control", 'data-parsley-trigger' => 'change', 'data-parsley-errors-container' => "#email-field-errors", 'data-parsley-emailinuse' => '',  'data-parsley-required' => ''
      #email-field-errors.parsley-errors-container
      %br
      = f.submit t('form.submit'), id: "sign-up-button", class: "submit-button"
  = render "devise/shared/links"
