- content_for :head do
  %title= t('.page_title')

#grid-wrap
  %h2.page-title.well.center= t('.page_title')
  .well.center.col-xs-12
    = render "/layouts/alert"
    = form_for resource, as: resource_name, url: session_path(resource_name), html: {id: 'sign_in', class: 'form', role: 'form'} do |f|
      .input-group.col-xs-12
        = f.label :email, t('users.fields.email'), id: "email-label", class: "input-group-addon", for: "email-field"
        = f.email_field :email, autofocus: true, id: "email-field", class: "form-control"
      %br
      .input-group.col-xs-12
        = f.label t('users.fields.password'), id: "password-label", class: "input-group-addon", for: "password-field"
        = f.password_field :password, autocomplete: "off", id: "password-field", class: "form-control"
      - if devise_mapping.rememberable?
        %br
        = f.check_box :remember_me, id: "remember-me-check-box", class: "checkbox-lg"
        = f.label :remember_me, t('users.fields.remember_me'), id: "remember-me-label", for: "remember-me-check-box"
      %br
      = f.submit t('.page_title'), id: "sign-in-button", class: "submit-button"
  = render "devise/shared/links"