- content_for :head do
  %title= title

#grid-wrap
  %h2.page-title.well.center= title
  .well.center.col-xs-12
    = render "/layouts/alert"
    = devise_error_messages!
    = role.form_errors
    = form_for(role, html: {'data-parsley-validate' => ''}) do |f|
      .input-group.col-xs-12
        = f.label :name, t('roles.field.name'), id: "name-label", class: "input-group-addon", for: "name-field"
        = f.text_field :name, id: "name-field", class: "form-control", 'data-parsley-rolenameunique' => '',  'data-parsley-required' => '', 'data-parsley-trigger' => 'change', 'data-parsley-errors-container' => "#name-field-errors"
      #name-field-errors.parsley-errors-container
      %br
      = f.submit ('form.submit'), id: "submit", class: "submit-button"
  = back_btn