- content_for :head do
  %title= I18n.t('roles.show.title', role_id: @role.id)

#grid-wrap
  %h2.page-title.well.center= I18n.t('roles.show.title', role_id: @role.id)
  = render "/layouts/alert"
  %table#roles-table.table.table-striped.table-bordered.table-condensed.col-xs-12
    %tbody
      %tr
        %td.bold= t('fields.id')
        %td #{@role.id}
      %tr
        %td.bold= t('roles.fields.name')
        %td #{@role.name}
      %tr
        %td.bold= t('fields.created_at')
        %td #{@role.created_at.format_time}
      %tr
        %td.bold= t('fields.updated_at')
        %td #{@role.updated_at.format_time}
  .right
    - if can? :edit, @role
      = link_to t('actions.edit'), edit_role_path(@role), class: "btn btn-warning"
    - if can? :delete, @role
      = link_to t('actions.delete'), role_path(@role), method: :delete, data: { confirm: t('role.delete_confirm') }, class: "btn btn-danger"
  %br
  = back_btn
    